/dependencies.txt
/plugin.program.anon
/plugin.program.tribler
/plugin.program.vods-players
/plugin.video.vods
/repository.biyik
/repository.biyik.dist
/script.module.abi
/script.module.cachecontrol
/script.module.chromium
/script.module.ghub
/script.module.htmlement
/script.module.importlib
/script.module.js2py
/script.module.lockfile
/script.module.pyjsparser
/script.module.sublib
/script.module.tinyxbmc
/service.subtitles.planetdp
/service.subtitles.turkcealtyazi
/service.vods.cnnturk
/service.vods.dmax
/service.vods.motorsportstv
